.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.navbar-custom { 
  background-color: red;
  
} 

.button-form{
  background-color: rgb(250, 23, 23);
}

.logout-button{
  margin-left: 650px;
}


